
GroupProjectWeb/.vs/GroupProjectWeb/v16/

GroupProjectWeb/Uno.GroupProjectSupportTool.BAL/obj/

GroupProjectWeb/Uno.GroupProjectSupportTool.BAL/bin/

GroupProjectWeb/Uno.GroupProjectSupportTool.DAL/bin/

GroupProjectWeb/Uno.GroupProjectSupportTool.DAL/obj/

GroupProjectWeb/GroupProjectWeb/Bin/

GroupProjectWeb/packages/
