<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uno.GroupProjectSupportTool.DAL.Properties.Settings.GroupProjectConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=GroupProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>